.hidden_div{
	display:none;
}

.website-item {
  margin-bottom: 40px;
}

#website_form {
  margin-bottom: 50px;
}

.website-item {
  list-style-type: none;
}

.comments-box {
  padding: 0;
}

.navbar-left {
	margin-top: 7px;
}

ol {
	margin: 0;
	padding: 0;
}
